.mat-mdc-checkbox.mat-primary {
  --mat-checkbox-label-text-color: color:rgb(245, 245, 220, 0.9);
}


.configuration__section {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}


/* .mat-mdc-checkbox.configuration__checkbox{
  color:rgb(245, 245, 220, 0.9);
}

.mdc-label.mat-checkbox {
  color:rgb(245, 245, 220, 0.9);
}

.mdc-label.mat-checkbox.configuration__checkbox {
  color:rgb(245, 245, 220, 0.9);
}


.mat-internal-form-field .mdc-mat-checkbox.configuration__checkbox {
  color:rgb(245, 245, 220, 0.9);
}

 */




