<h4 class="configuration__header">Выберете необходимые настройки:</h4>
<section class="configuration__section" [formGroup]="form" *ngIf="form">
  <p><mat-checkbox class="configuration__checkbox" [color]="color" formControlName="temperature">Температура (2м)</mat-checkbox></p>
  <p><mat-checkbox class="configuration__checkbox" [color]="color" formControlName="relative_humidity">Относительная влажность (2м)</mat-checkbox></p>
  <p><mat-checkbox class="configuration__checkbox" [color]="color" formControlName="apparent_temperature">Ощущаемая температура</mat-checkbox></p>
  <p><mat-checkbox class="configuration__checkbox" [color]="color" formControlName="is_day">Время суток</mat-checkbox></p>
  <p><mat-checkbox class="configuration__checkbox" [color]="color" formControlName="wind_speed">Скорость ветра</mat-checkbox></p>
</section>







