.container {
  margin: 0 auto;
  width: 720px;
  min-height: 100%;
  background-color: #4d99e7;
  background-image: linear-gradient(rgba(34, 28, 28, 0.3), rgba(0, 0, 0, 0.7)), url("../assets/background.jpg");
  background-position: 20% 70%;
}

h1 {
  display: flex;
  justify-content: center;
}

.navigation {
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color:beige; */
  background-color:rgba(0, 0, 0, 0.3);
}


.nav__bar {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
}

.navigation__button {
  list-style: none;
}

 .mat-mdc-button.nav__link {
  color: rgb(245, 245, 220, 0.9);
}

.router__outlet__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 12px 24px;
}





