<div class="container">
  <!-- <h1>{{title}}</h1> -->
  <nav class="navigation">
    <ul class="nav__bar">
      <li class="navigation__button">
        <a class="nav__link" mat-button routerLink="/welcome" routerLinkActive="active-link">Главная</a>
      </li>
      <li class="navigation__button" >
        <a class="nav__link" mat-button routerLink="/configurations" routerLinkActive="active-link">Настройки</a>
      </li>
      <li class="navigation__button">
        <a class="nav__link" mat-button routerLink="/weather" routerLinkActive="active-link">Погода</a>
      </li>
    </ul>
  </nav>
  <div class="router__outlet__container">
    <router-outlet></router-outlet>
  </div>
</div>

