.view__container {
  min-height: 50vh;
}

.select__container {
  display: flex;
  justify-content: center;
}

.select__header {
  text-align: center;
}

:host::ng-deep .mat-mdc-text-field-wrapper {
  --mdc-filled-text-field-container-color: rgb(112, 141, 171);
}

:host::ng-deep .mat-mdc-select-min-line {
  color: rgb(245, 245, 220, 0.9);
}


.select__city__label {
  color: rgb(245, 245, 220, 0.6);
}

div.mat-mdc-select-panel#mat-select-0-panel {
  --mat-select-panel-background-color: rgb(112, 141, 171);
}

.weather__card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px
}

.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}




