@use '@angular/material/' as mat;

@include mat.core();

$custom-primary-palette: (
  50: #e7ddb4,
  100: #dbd2ab,
  200: #ccc4a0,
  300: #c0b895,
  400: #b3ab8a,
  500: #a19a7b,
  600: #9c967c,
  700: #8b866e,
  800: #79745f,
  900: #615d4b,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #615d4b,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$custom-accent-palette: (
  50: #fefefb,
  100: #fcfcf5,
  200: #fafaee,
  300: #f8f8e7,
  400: #f7f7e1,
  500: #f5f5dc,
  600: #f4f4d8,
  700: #f2f2d3,
  800: #f0f0ce,
  900: #eeeec5,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);


$custom-typography: mat.m2-define-typography-config($font-family: "Roboto, sans-serif");
$custom-primary: mat.m2-define-palette($custom-primary-palette, 300);
$custom-accent: mat.m2-define-palette($custom-accent-palette, 700);
$custom-warn: mat.m2-define-palette(mat.$m2-indigo-palette);

$custom-theme: mat.m2-define-dark-theme((
  color: (
    theme-type: dark,
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: $custom-typography,
  density: 0
));

@include mat.all-component-themes($custom-theme);







